html,body{
    scroll-behavior: smooth;
}
h3, h4, h5, h6, p, li {
    color: #004de5;
    font-family: "Manrope";
}

h1,h2{
    color: midnightblue;
    font-family: "Manrope";
}

p{
    text-align: justify;
}

button{
    background-color: #004de5;
    border: 0px;
    border-radius: 10px;
    padding: 10px 20px;
    color: white;
    font: 100;
}
body{
    background-color: #fbfbf4;
    display: flex;
    flex-direction: row;
}

.left-hand-resume{
width: 60vw;
}

.right-hand-image{
    width: 35vw; 
    height: 98vh;
    border-radius: 0px 30px 30px 0px;
    background-image: url(../public/assets/profile\ image.jpg);
    background-size: cover;
    position: fixed;
    right: 10px;
}
.heading{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.NameHolder{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.LinkHolder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 60%;
    gap: 10px;
    margin-left: auto;
    flex-wrap: wrap;
}

.bodysection{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
   
}
.Links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
.other-links{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
